
<h3>Pets at <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", class: 'shelter-link' %>: <%= @shelter.pet_count%></h3>


  <% @shelter.adoptable_pets.each do |pet| %>
    <section id="<%= pet.id %>-section">
    <img src=<%= pet.image %> class="img-thumbnail" id="img-<%= pet.id %>"></img>
    <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'shelter-link' %></h3>
    <h3>Age (approx): <%= pet.age %></h3>
    <h3>Sex: <%= pet.sex %></h3>
    </section>
  <% end %>

  <a href="/shelters/<%= @shelter.id %>/pets/new" class='btn btn-info' role='button'>New Pet</a>
