<h1><%= @shelter.name %></h1>
  <h3>Address: <%= @shelter.address %></h3>
  <h3>City: <%= @shelter.city %></h3>
  <h3>State: <%= @shelter.state %></h3>
  <h3>Zip: <%= @shelter.zip %></h3>


  <form action='/shelters/<%= @shelter.id %>' method='POST'>
    <a href="/shelters/<%= @shelter.id %>/edit" class='btn btn-info' role='button'>Update</a>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type="submit" class="btn btn-info" value="Delete"/>
  </form>
