
<h1><%= @shelter.name %></h1>
  <p><b>Address: </b><%= @shelter.address %><br>
  <b>City: </b><%= @shelter.city %><br>
  <b>State: </b><%= @shelter.state %><br>
  <b>Zip: </b><%= @shelter.zip %></p>

  <%= link_to 'Edit', "/shelters/#{@shelter.id}/edit", class: 'btn btn-info' %>
  <%= link_to 'Delete', "/shelters/#{@shelter.id}", method: :delete, class: 'btn btn-info' %><br><br>


<h3><%= link_to "All Pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets", class: 'shelter-link' %></h3>
