<h1>Edit Pet</h1>

<%= form_tag("/pets/#{@pet.id}", method: :patch) do %><section class='form'>
  <%= label_tag "Image:" %>
  <%= text_field_tag :image, @pet.image %><br>
  <%= label_tag "Name:" %>
  <%= text_field_tag :name, @pet.name %><br>
  <%= label_tag "Description:" %>
  <%= text_field_tag :desc, @pet.desc %><br>
  <%= label_tag "Approximate Age:" %>
  <%= text_field_tag :age, @pet.age%><br>
  <%= label_tag "Sex:" %>
  <%= select_tag :sex, options_for_select(['male', 'female'], @pet.sex) %><br></section>
  <button type="submit" class="btn btn-info">Submit</button>
<% end %>
