<h1>Pets</h1>

<%if (params[:id]) %>
  <% @pets.each do |pet| %>
    <section id="<%= pet.id %>-section">
    <img src=<%= pet.image %> class="img-thumbnail" id="img-<%= pet.id %>"></img>
    <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'shelter-link' %></h3>
    <h3>Age (approx): <%= pet.age %></h3>
    <h3>Sex: <%= pet.sex %></h3>
    </section>
  <% end %>
  <a href="/shelters/<%= params[:id] %>/pets/new" class='btn btn-info' role='button'>New Pet</a>
<% else %>
  <% @pets.each do |pet| %>
      <section id="<%= pet.id %>-section">
      <br><img src=<%= pet.image %> class="img-thumbnail" id="img-<%= pet.id %>"></img>
      <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'shelter-link' %></h3>
      <h3>Age (approx): <%= pet.age %></h3>
      <h3>Sex: <%= pet.sex %></h3>
      <h3>Shelter: <%= link_to "#{pet.shelter.name}", "shelters/#{pet.shelter_id}", class: 'shelter-link' %></h3>
      <%= link_to 'Edit', "/pets/#{pet.id}/edit", class: 'btn btn-info' %>
      <%= link_to 'Delete', "/pets/#{pet.id}", method: :delete, class: 'btn btn-info' %>
      </section>
    <% end %>
<% end %>
