<h1>Pets</h1>

<%if (params[:id]) %>
  <% @pets.each do |pet| %>
    <img src=<%= pet.image %> class="img-thumbnail" id="img-<%= pet.id %>"></img>
    <h3>Name: <%= pet.name %></h3>
    <h3>Age (approx): <%= pet.age %></h3>
    <h3>Sex: <%= pet.sex %></h3>
  <% end %>
  <a href="/shelters/<%= params[:id] %>/pets/new" class='btn btn-info' role='button'>New Pet</a>
<% else %>
  <% @pets.each do |pet| %>
      <br><img src=<%= pet.image %> class="img-thumbnail" id="img-<%= pet.id %>"></img>
      <h3>Name: <%= pet.name %></h3>
      <h3>Age (approx): <%= pet.age %></h3>
      <h3>Sex: <%= pet.sex %></h3>
      <h3>Shelter: <a class='shelter-link' href='shelters/<%= pet.shelter_id %>'><%= pet.shelter.name %></a></h3>
      <form action='/pets/<%= pet.id %>' method='POST'>
        <a href="/pets/<%= pet.id %>/edit" class='btn btn-info' role='button'>Edit</a>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type='hidden' name='_method' value='DELETE'>
        <input type="submit" class="btn btn-info" value="Delete"/>
      </form>
    <% end %>
<% end %>
