<img src=<%= @pet.image %> class="img-thumbnail" id="img-<%= @pet.id %>"></img>
<h2><%= @pet.name %></h2>
<p><b>Description: </b><%= @pet.desc %><br>
<b>Approximate Age: </b><%= @pet.age %><br>
<b>Sex: </b><%= @pet.sex %><br>
<b>Status: </b><%= @pet.status %></p>
<%= link_to 'Edit', "/pets/#{@pet.id}/edit", class: 'btn btn-info' %>
<%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete, class: 'btn btn-info' %><br><br>
<h3><%= link_to "All Pets at #{@pet.shelter.name}", "/shelters/#{@pet.shelter_id}/pets", class: 'shelter-link' %></h3>
