<img src=<%= @pet.image %> class="img-thumbnail" id="img-<%= @pet.id %>"></img>
<h3>Name: <%= @pet.name %></h3>
<h3>Description: <%= @pet.desc %></h3>
<h3>Age (approx): <%= @pet.age %></h3>
<h3>Sex: <%= @pet.sex %></h3>
<h3>Status: <%= @pet.status %></h3>

<form action='/pets/<%= @pet.id %>' method='POST'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type="submit" class="btn btn-info" value="Delete"/>
</form>
